<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>
<body>
    <h2>Feedback Form</h2>
    <form action="/" method="POST">
        <label for="name">Enter name</label>
        <input type="text" name="name" placeholder="name" required>
        <br><br>

        <label for="fb">Enter feedback</label> 
        <input type="text" name="fb" placeholder="feedback" required>
        <br><br>

        <button type="submit">Add to List:</button>
    </form>
    <h2>Feedback History</h2>
    <ul>
        {% if fb_dict %}
            {% for name, feedback in fb_dict.items() %}
                <li>{{ name }} : {{ feedback }}</li>
            {% endfor %}
        {% else %}
            <p>No feedback given.</p>
        {% endif %}
    </ul>
</body>
</html>