<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Converter</title>
</head>
<body>
    <h2>Temperature Converter</h2>
    <form action="/" method="POST">
        <label for="temp">Enter temperature in Celcius</label>
        <input type="number" name="temp" id="temp" required>
        <button type="submit">Convert</button>
    </form>
    {% if result is not none %}
    <h3>Temperature in Fahrenheit: {{ result }}</h3>
    {% endif %}
</body>
</html>